@import url("https://use.typekit.net/mcr3ois.css");
body {
  margin: 0;
  font-family: code-saver, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FFD6FF;
  font-style: normal;
  overflow: hidden;
  width: 100%;
  height: calc(100vh - env(safe-area-inset-bottom));

}

#root {
  position: relative;
  overflow: hidden;
  height: 100vh;
}
.mapboxgl-ctrl{
  display: none;
}

.mapboxgl-canvas:focus {
  outline: none;

}