@import url("https://use.typekit.net/mcr3ois.css");
body {
  margin: 0;
  font-family: code-saver, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FFD6FF;
  font-style: normal;
}

h1 {
  font-family: etna, sans-serif;
  font-style: normal;
}

text {
  font-family: etna, sans-serif;
  font-style: normal;
}